{% extends '::base.html.twig' %}
{% block title %}
    Селена|Корзина
{% endblock %}

{% block stylesheets %}
    <link href="/web/css/bootstrap.min.css" rel="stylesheet">
    <link href="/web/css/check.css" rel="stylesheet">
{% endblock%}

{% block body -%}
    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-md-6">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Cart</h5>
                            </div>
                            <div class="col-md-6">
                                <a href="{{ path('catalog_index') }}" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-share-alt"></span> Continue Shoping</a>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="{{ path('check_update') }}" method="POST">
                    <input type="hidden" name="_method" value="PUT"/>
                    <div class="panel-body">
                        {% for sessionProduct in sessionProducts %}
                            {% if sessionProduct.product is not empty %}
                                <div class="row">

                                    <div class="col-md-2 col-xs-12">
                                        {% if sessionProduct.product.images is not empty %}
                                            <img class="img-responsive" src="/web/img/products/{{ sessionProduct.product.images.get(0).id }}{{ sessionProduct.product.images.get(0).extend }}" alt="...">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <h4><strong>{{ sessionProduct.product.name }}</strong></h4>
                                        <h4><small>span span span span span </small></h4>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="col-md-6 text-right">
                                            <h4><strong>{{ sessionProduct.product.price }}</strong> x</h4>
                                        </div>
                                        <div class="col-md-4 col-xs-9">
                                            <input name="amount-{{ sessionProduct.product.id }}" type="text" class="form-control input-sm" value="{{ sessionProduct.amount }}">
                                        </div>
                                        <div class="col-md-2 col-xs-2">
                                            <a href="{{ path('cart_del', {'id':sessionProduct.product.id}) }}" class="btn btn-default btn-sm" onclick="return confirm('Вы уверены?');"><span class="glyphicon glyphicon-trash"></span></a>
                                        </div>

                                    </div>
                                </div>
                            {% endif %}
                            <hr>
                        {% endfor %}
                        <div class="row">
                            <div class="col-md-9 col-xs-12 text-right">
                                <h5>Added items?</h5>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <a class="btn btn-default btn-sm btn-block" href="{{ path('cart_index') }}">Update cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-9 col-xs-12">
                                <h4><strong>Total {{ total }}</strong></h4>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                {% if total != 0 %}
                                    <button type="submit" class="btn btn-success btn-sm btn-block">Checkout</button>
                                {% else %}
                                    <button type="submit" class="btn btn-success btn-sm btn-block" disabled="true">Checkout</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Content -->
    {% endblock %}
