<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Селена</title>
        <link href="/web/css/bootstrap.min.css" rel="stylesheet">
        <link href="/web/css/style.css" rel="stylesheet">
        <link href="/web/css/normalize.css" rel="stylesheet">
        <link href="/web/css/scrolling-nav.css" rel="stylesheet">
    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="{{ path('homepage') }}#page-top">Селена</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav pull-right">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a class="page-scroll" href="{{ path('homepage') }}#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{ path('homepage') }}#about">О нас</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{ path('homepage') }}#contact">Контакты</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{ path('homepage') }}#contact">Как нас найти</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{ path('catalog_index') }}">Каталог</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="cart.html">Корзина</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <section class="intro-section">

            <div class="textcontainer">
                <div class="particletext bubbles"></div>

            </div>
        </section>

        <section id="about" class="about-section">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>О нас</h1>
                        <p>Оптовая компания создана в 2002 году.
                            Первым и основным направлением стала торговля игрушками и играми
                            способствующими развитию детей</br>
                            На сегодняшний день помимо этого направления у нас постоянно в большом ассортименте поддерживаются так же группы - аксессуары для волос, пряжа, искусственные цветы. </br>В целом наш ассортимент рассчитан на покупателя , имеющего магазины смешанного типа, а по игрушкам мы ориентируемся на потребности детских садов и всегда рады предложить помимо типового набора номенклатуры этой группы, большой выбор методических пособий, обучающих игр и наборов для детского творчества. <p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Section -->
        <section id="contact" class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Контакты</h1>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <p class="text-muted text-center">
                                        Адрес : <strong>659318 г.Бийск, Яминская 6/1</strong>
                                    </p>        
                                    <p class="text-muted text-center">
                                        Телефон : <strong>8-3854-32-56-66</strong>
                                    </p>
                                    <p class="text-muted text-center">
                                        &nbsp Почта : <strong>selena@bk.ru</strong>
                                    </p>
                                    <p class="text-muted text-center">
                                        &nbsp График работы : <strong>Пн-Пт с 8-30 до 16-30</strong>
                                    </p>
                                    <p class="text-muted text-center">
                                        &nbsp Выходные дни : <strong>Сб, Вс</strong>
                                    </p>
                                </div>
                                <div class="col-sm-6 col-md-6 mapp">

                                    <a class="dg-widget-link" href="http://2gis.ru/biysk/firm/2815278048085398/center/85.22401571273804,52.55375900147284/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Бийска</a><div class="dg-widget-link"><a href="http://2gis.ru/biysk/center/85.22316,52.555764/zoom/16/routeTab/rsType/bus/to/85.22316,52.555764╎Селена, оптовая фирма?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Селена, оптовая фирма</a></div>
                                    <script charset="utf-8" src="http://widgets.2gis.com//web/js/DGWidgetLoader.js">
                                    </script><script charset="utf-8">new DGWidgetLoader({"width": 540, "height": 400, "borderColor": "#a3a3a3", "pos": {"lat": 52.55685900147284, "lon": 85.22401571273804, "zoom": 16}, "opt": {"city": "biysk"}, "org": [{"id": "2815278048085398"}]});
                                    </script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>                      


                                </div>    

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src='/web/js/jquery.min.js'></script>
        <script src="/web/js/index.js"></script>
        <script src="/web/js/bootstrap.min.js"></script>
        <script src="/web/js/jquery.easing.min.js"></script>
        <script src="/web/js/scrolling-nav.js"></script>

    </body>
</html>
