{% extends '::adminbase.html.twig' %}

{% block title %}
    Редактирование товара
{% endblock %}
{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading panel-header">
            <h3 class="panel-title">Редактирование товара</h3>
        </div>
        <div class="panel-body">
            {{ form_start(edit_form)}}
            <div class="input-group">
                <span class="input-group-addon" id="name-group">Название</span>
                {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control', 'aria-describedby' : 'name-group', 'placeholder': 'Название', 'maxlength' : '500'} }) }}
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="price-group">Стоимость</span>
                {{ form_widget(edit_form.price, { 'attr': {'class': 'form-control', 'aria-describedby' : 'price-group', 
                                            'placeholder': 'Стоимость', 'pattern' : '\\d+(\\.\\d{1,2})?',
                                            'title' : 'Например 100.0'} }) }}
                <span class="input-group-addon">Руб.</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="category-group">Категория</span>
                {{ form_widget(edit_form.category, { 'attr': {'class': 'form-control', 'aria-describedby' : 'category-group', 'required' : 'true'} }) }}
            </div>
            <div class="panel-actions">
                <input class="btn btn-default" type="submit" value="Сохранить" />
                <a class="btn btn-default" href="{{ path('product_index') }}">Назад</a>
            </div>
            {{ form_end(edit_form)}}

            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Удалить" onclick="return confirm('Вы уверены?');">
            {{ form_end(delete_form) }}
        </div>
    </div>
    <form class="panel panel-default" action="{{path('image_upload', { 'id': product.id })}}" method="post" {{ form_enctype(upload_form) }} enctype="multipart/form-data">
        <div class="panel-heading panel-header">
            <h3 class="panel-title">Загрузить изображение</h3>
        </div>
        <div class="panel-body">
            <input name="_method" value="PUT" type="hidden"/>
            <div class="input-group">
                <span class="input-group-addon" id="file-group">Файл</span>
                {{ form_widget(upload_form.files, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="panel-actions">
                {{ form_widget(upload_form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
            </div>
        </div>
    </form>
    <div id="#pictures" class="panel panel-default">
        <div class="panel-heading panel-header">
            <h3 class="panel-title">Изображения</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {% for picture in product.images %}
                    <div class="col-sm-6 col-md-4">
                        <form class="thumbnail" action="{{path('image_unload', { 'id': picture.id })}}" method="post">
                            <input name="_method" value="DELETE" type="hidden"/>
                            <img src="/web/img/products/{{ picture.id }}{{ picture.extend() }}" width="100%" style="height:250px"/>
                            <div class="caption" style="text-align: center;">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены?');">Удалить</button>
                            </div>
                        </form>
                    </div>
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock %}