{% extends '::adminbase.html.twig' %}

{% block title %}
    Добавление товара
{% endblock %}
{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading panel-header">
            <h3 class="panel-title">Добавление товара</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form)}}
            <div class="input-group">
                <span class="input-group-addon" id="name-group">Название</span>
                {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'aria-describedby' : 'name-group', 'placeholder': 'Название', 'maxlength' : '500'} }) }}
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="price-group">Стоимость</span>
                {{ form_widget(form.price, { 'attr': {'class': 'form-control', 'aria-describedby' : 'price-group', 
                                            'placeholder': 'Стоимость', 'pattern' : '\\d+(\\.\\d{1,2})?',
                                            'title' : 'Например 100.0'} }) }}
                <span class="input-group-addon">Руб.</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="category-group">Категория</span>
                {{ form_widget(form.category, { 'attr': {'class': 'form-control', 'aria-describedby' : 'category-group', 'required' : 'true'} }) }}
            </div>
            <div class="panel-actions">
                <input class="btn btn-default" type="submit" value="Добавить" />
                <a class="btn btn-default" href="{{ path('product_index') }}">Назад</a>
                <div>
                    {{ form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
